@import 'variables';
@import 'form';
@import 'images-container';
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  color: $secondary-color;
  width: 100vw;
}